<%@ Master Language="VB" MasterPageFile="~/Site.Master" AutoEventWireup="false" CodeBehind="Portal.master.vb" Inherits="RCOAdmin.Portal1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <div id="2col">
  <asp:ContentPlaceHolder ID="leftcolumn" runat="server">
  </asp:ContentPlaceHolder>
  <asp:ContentPlaceHolder ID="rightcolumn" runat="server">
  </asp:ContentPlaceHolder>
</div>


</asp:Content>
